<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" href="/static/lib/style.css" />
    </head>
    <body>
    	<header>
    		<h1>Welcome</h1>
    		<ul class="navigation_bar">
    			<li>
    				<a href = "/">Home</a>
    			</li>
    		</ul>
    	</header>
    			<form method="get">
    				<table id="soduku_input">
    					<tr>
    						<th>
    							<table>
    								<tr>
    									<th><input type="text", name="r0c0", size="2"></input> </th>
    									<th><input type="text", name="r0c1", size="2"></input> </th>
    									<th><input type="text", name="r0c2", size="2"></input> </th>
    								</tr>
    								<tr>
    									<th><input type="text", name="r1c0", size="2"></input> </th>
    									<th><input type="text", name="r1c1", size="2"></input> </th>
    									<th><input type="text", name="r1c2", size="2"></input> </th>
    								</tr>
    								<tr>
    									<th><input type="text", name="r2c0", size="2"></input> </th>
    									<th><input type="text", name="r2c1", size="2"></input> </th>
    									<th><input type="text", name="r2c2", size="2"></input> </th>
    								</tr>
    							</table>
    						</th>	
    						<th>
    							<table>
    								<tr>
    									<th><input type="text", name="r3c0", size="2"></input> </th>
    									<th><input type="text", name="r3c1", size="2"></input> </th>
    									<th><input type="text", name="r3c2", size="2"></input> </th>
    								</tr>
    								<tr>
    									<th><input type="text", name="r4c0", size="2"></input> </th>
    									<th><input type="text", name="r4c1", size="2"></input> </th>
    									<th><input type="text", name="r4c2", size="2"></input> </th>
    								</tr>
    								<tr>
    									<th><input type="text", name="r5c0", size="2"></input> </th>
    									<th><input type="text", name="r5c1", size="2"></input> </th>
    									<th><input type="text", name="r5c2", size="2"></input> </th>
    								</tr>
    							</table>
    						</th>
    						<th>
    							<table>
    								<tr>
    									<th><input type="text", name="r6c0", size="2"></input> </th>
    									<th><input type="text", name="r6c1", size="2"></input> </th>
    									<th><input type="text", name="r6c2", size="2"></input> </th>
    								</tr>
    								<tr>
    									<th><input type="text", name="r7c0", size="2"></input> </th>
    									<th><input type="text", name="r7c1", size="2"></input> </th>
    									<th><input type="text", name="r7c2", size="2"></input> </th>
    								</tr>
    								<tr>
    									<th><input type="text", name="r8c0", size="2"></input> </th>
    									<th><input type="text", name="r8c1", size="2"></input> </th>
    									<th><input type="text", name="r8c2", size="2"></input> </th>
    								</tr>
    							</table>
    						</th>
    					</tr>
    					<tr>
    						<th>
    							<table>
    								<tr>
    									<th><input type="text", name="r0c3", size="2"></input> </th>
    									<th><input type="text", name="r0c4", size="2"></input> </th>
    									<th><input type="text", name="r0c5", size="2"></input> </th>
    								</tr>
    								<tr>
    									<th><input type="text", name="r1c3", size="2"></input> </th>
    									<th><input type="text", name="r1c4", size="2"></input> </th>
    									<th><input type="text", name="r1c5", size="2"></input> </th>
    								</tr>
    								<tr>
    									<th><input type="text", name="r2c3", size="2"></input> </th>
    									<th><input type="text", name="r2c4", size="2"></input> </th>
    									<th><input type="text", name="r2c5", size="2"></input> </th>
    								</tr>
    							</table>
    						</th>	
    						<th>
    							<table>
    								<tr>
    									<th><input type="text", name="r3c3", size="2"></input> </th>
    									<th><input type="text", name="r3c4", size="2"></input> </th>
    									<th><input type="text", name="r3c5", size="2"></input> </th>
    								</tr>
    								<tr>
    									<th><input type="text", name="r4c3", size="2"></input> </th>
    									<th><input type="text", name="r4c4", size="2"></input> </th>
    									<th><input type="text", name="r4c5", size="2"></input> </th>
    								</tr>
    								<tr>
    									<th><input type="text", name="r5c3", size="2"></input> </th>
    									<th><input type="text", name="r5c4", size="2"></input> </th>
    									<th><input type="text", name="r5c5", size="2"></input> </th>
    								</tr>
    							</table>
    						</th>
    						<th>
    							<table>
    								<tr>
    									<th><input type="text", name="r6c3", size="2"></input> </th>
    									<th><input type="text", name="r6c4", size="2"></input> </th>
    									<th><input type="text", name="r6c5", size="2"></input> </th>
    								</tr>
    								<tr>
    									<th><input type="text", name="r7c3", size="2"></input> </th>
    									<th><input type="text", name="r7c4", size="2"></input> </th>
    									<th><input type="text", name="r7c5", size="2"></input> </th>
    								</tr>
    								<tr>
    									<th><input type="text", name="r8c3", size="2"></input> </th>
    									<th><input type="text", name="r8c4", size="2"></input> </th>
    									<th><input type="text", name="r8c5", size="2"></input> </th>
    								</tr>
    							</table>
    						</th>
    					</tr>
    					<tr>
    						<th>
    							<table>
    								<tr>
    									<th><input type="text", name="r0c6", size="2"></input> </th>
    									<th><input type="text", name="r0c7", size="2"></input> </th>
    									<th><input type="text", name="r0c8", size="2"></input> </th>
    								</tr>
    								<tr>
    									<th><input type="text", name="r1c6", size="2"></input> </th>
    									<th><input type="text", name="r1c7", size="2"></input> </th>
    									<th><input type="text", name="r1c8", size="2"></input> </th>
    								</tr>
    								<tr>
    									<th><input type="text", name="r2c6", size="2"></input> </th>
    									<th><input type="text", name="r2c7", size="2"></input> </th>
    									<th><input type="text", name="r2c8", size="2"></input> </th>
    								</tr>
    							</table>
    						</th>	
    						<th>
    							<table>
    								<tr>
    									<th><input type="text", name="r3c6", size="2"></input> </th>
    									<th><input type="text", name="r3c7", size="2"></input> </th>
    									<th><input type="text", name="r3c8", size="2"></input> </th>
    								</tr>
    								<tr>
    									<th><input type="text", name="r4c6", size="2"></input> </th>
    									<th><input type="text", name="r4c7", size="2"></input> </th>
    									<th><input type="text", name="r4c8", size="2"></input> </th>
    								</tr>
    								<tr>
    									<th><input type="text", name="r5c6", size="2"></input> </th>
    									<th><input type="text", name="r5c7", size="2"></input> </th>
    									<th><input type="text", name="r5c8", size="2"></input> </th>
    								</tr>
    							</table>
    						</th>
    						<th>
    							<table>
    								<tr>
    									<th><input type="text", name="r6c6", size="2"></input> </th>
    									<th><input type="text", name="r6c7", size="2"></input> </th>
    									<th><input type="text", name="r6c8", size="2"></input> </th>
    								</tr>
    								<tr>
    									<th><input type="text", name="r7c6", size="2"></input> </th>
    									<th><input type="text", name="r7c7", size="2"></input> </th>
    									<th><input type="text", name="r7c8", size="2"></input> </th>
    								</tr>
    								<tr>
    									<th><input type="text", name="r8c6", size="2"></input> </th>
    									<th><input type="text", name="r8c7", size="2"></input> </th>
    									<th><input type="text", name="r8c8", size="2"></input> </th>
    								</tr>
    							</table>
    						</th>
    					</tr>
    				</table>	
    	{% block content %}
    	{% set count = namespace(value=0) %}
    	<table>
    		{% for i in range(3) %}
    			<tr>
    			{% for j in range(3) %}
    			<th id="inner_th"><table>
    				{% for k in range(3) %}
    				<tr>
						{% for n in range(3) %}
							<th><input type="text", name="{{content[count.value]}}", size="2"></input> </th>
							{% set count.value = count.value + 1 %}
						{% endfor%}
    				</tr>
    				{% endfor%}
    			</th></table>
        		{% endfor%}
        		</tr>
    		{% endfor %}
    	</table>
    			<br><input type="submit" value="Formular abschicken"></input>	
    			</form>
    	<table>
    		{% for i in range(3) %}
    			<tr>
    			{% for j in range(3) %}
    			<th><table>
    				{% for k in range(3) %}
    				<tr>
						{% for n in range(3) %}
							<th>{{i+j+k+n}}</th>
						{% endfor%}
    				</tr>
    				{% endfor%}
    			</th></table>
        		{% endfor%}
        		</tr>
    		{% endfor %}
        {% endblock %}
    	</table>

    </body>
</html>